@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700|Roboto:400,700|Lato:400,700,300);
:root {
  font-size: 16px;
  font-size: calc( 14px + ( 21 - 14 ) * ( (100vw - 500px) / ( 1600 - 500 ) )); }
  @media screen and (max-width: 500px) {
    :root {
      font-size: 14px; } }
  @media screen and (min-width: 1600px) {
    :root {
      font-size: 21px; } }

body {
  margin: auto;
  color: #444444;
  font-family: "Roboto", sans-serif;
  -webkit-font-feature-settings: "kern", "liga", "pnum";
          font-feature-settings: "kern", "liga", "pnum";
  font-size: 1rem;
  line-height: 1.5; }

p {
  margin: 0 0 1.5em; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: #444444;
  line-height: 1;
  margin: 0.5em 0; }

h1 {
  font-size: 3.157rem; }

h2 {
  font-size: 2.369rem; }

h3 {
  font-size: 1.777rem; }

h4 {
  font-size: 1.333rem; }

h5 {
  font-size: 1rem; }

h6 {
  font-size: 1rem; }

small {
  font-size: 0.75rem; }

a {
  color: #3498DB;
  text-decoration: none;
  -webkit-transition: color 150ms ease;
  transition: color 150ms ease; }
  a:active, a:focus, a:hover {
    color: #2772a4; }

hr {
  border-bottom: 2px solid #DDDDDD;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: 1.5em 0; }

img,
picture {
  margin: 0;
  max-width: 100%;
  height: auto; }

iframe {
  max-width: 100%; }

.iframe-wrap {
  margin-bottom: 1.5em; }

blockquote {
  margin: 0.75em;
  padding-left: 1.0em;
  border-left: 0.375em solid #3498DB; }

table {
  border-collapse: collapse;
  -webkit-font-feature-settings: "kern", "liga", "tnum";
          font-feature-settings: "kern", "liga", "tnum";
  margin: .75em 0;
  table-layout: fixed;
  width: 100%; }

th {
  border-bottom: 1px solid #a6a6a6;
  font-weight: 600;
  padding: .75em 0;
  text-align: left; }

td {
  border-bottom: 1px solid #DDDDDD;
  padding: .75em 0; }

tr,
td,
th {
  vertical-align: middle; }

ul,
ol {
  list-style-type: none;
  margin: 0 0 1.5em;
  padding: 0; }

dl {
  margin-bottom: .75em; }
  dl dt {
    font-weight: bold;
    margin-top: .75em; }
  dl dd {
    margin: 0; }

fieldset {
  background-color: #f7f7f7;
  border: 1px solid #b9b9b9;
  margin: 1.5em 0;
  padding: 1.0em; }

label {
  font-size: 1em;
  font-family: "Roboto", sans-serif; }
  label:hover {
    cursor: pointer; }

label,
input {
  display: block; }

input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"], input:not([type]), textarea,
select[multiple=multiple] {
  font-size: 0.75em;
  font-family: inherit;
  background: #FFFFFF;
  border: 1px solid #DDDDDD;
  border-radius: 3px;
  box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.06);
  padding: 1.0em;
  margin-bottom: 1.5em;
  width: 100%;
  -webkit-transition: border ease .3s;
  transition: border ease .3s;
  box-sizing: border-box; }
  input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="email"]:hover, input[type="month"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="time"]:hover, input[type="url"]:hover, input[type="week"]:hover, input:not([type]):hover, textarea:hover,
  select[multiple=multiple]:hover {
    border: 1px solid #3498DB; }
  input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="email"]:focus, input[type="month"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="time"]:focus, input[type="url"]:focus, input[type="week"]:focus, input:not([type]):focus, textarea:focus,
  select[multiple=multiple]:focus {
    border: 1px solid #2ECC71;
    box-shadow: 0px 0px 2px #239a55;
    outline: none; }

textarea {
  width: 100%;
  box-sizing: border-box;
  resize: vertical; }

input[type=checkbox],
input[type=radio] {
  display: inline-block; }
  input[type=checkbox]:hover,
  input[type=radio]:hover {
    cursor: pointer; }

input[type=range],
input[type=color],
input[type=file] {
  cursor: pointer; }

input[type=color] {
  font-size: 1em;
  height: 2em;
  width: 100%;
  padding: 0.25em; }

select {
  font-size: 0.75em;
  line-height: 1.5; }

.ut-block-text {
  margin: 0 auto 1.5em;
  max-width: 45rem; }

.ut-left {
  float: left; }

.ut-right {
  float: right; }

.ut-text-left {
  text-align: left; }

.ut-text-right {
  text-align: right; }

.ut-text-center {
  text-align: center; }

.ut-hide {
  display: none; }

.ut-inline {
  display: inline; }

.ut-block {
  display: block; }

.ut-inline-block {
  display: inline-block; }

/**
*	Thanks to the guys who made Buttonplate for this.
*	Stripped it down to include in this project more fluently.
**/
.ut-modal-blur {
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px); }

.ut-modal-no-scroll {
  overflow: hidden; }

.ut-modal-show {
  display: block !important; }body {
  background: url(http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/furley_bg.png);
  display: none;
  overflow-x: hidden; }

.root-body {
  margin: auto;
  max-width: 70em;
  padding: 0.5em; }

.paragraph-max-width {
  max-width: 45rem; }

.ut-button {
  position: relative;
  display: inline-block;
  color: #666666;
  -moz-text-decoration: none;
  vertical-align: middle;
  border: none;
  background-color: #ddd;
  outline: none;
  -webkit-appearance: none;
  padding: 1em 2em;
  font-size: 1em;
  font-family: inherit;
  text-align: center;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease; }
  .ut-button:visited {
    color: #666666; }
  .ut-button:hover {
    cursor: pointer;
    background-color: #ebebeb; }
  .ut-button:active {
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15) inset;
    text-shadow: rgba(255, 255, 255, 0.25) 0px 1px 0;
    background-color: #ddd; }
  .ut-button:disabled {
    cursor: not-allowed;
    color: white;
    border-color: gray;
    background-color: gray; }
    .ut-button:disabled:hover {
      color: white;
      border-color: gray;
      background-color: gray; }
    .ut-button:disabled:active {
      color: white;
      border-color: gray;
      background-color: gray;
      box-shadow: none;
      text-shadow: none; }

.search-bar-container {
  margin-bottom: 1.5em;
  margin-top: 5em; }

.search-bar-wrapper {
  font-size: 1.5em;
  text-align: center;
  max-width: 30em;
  margin: auto; }

.uptilt-form .input-group {
  position: relative;
  max-width: 100%; }
  .uptilt-form .input-group input[type=text] {
    background: none;
    box-shadow: none;
    border: none;
    border-radius: 0;
    border-bottom: 2px solid #3498DB;
    font-size: 1em;
    width: 100%;
    padding: 0.25em;
    margin-bottom: 1em; }
    .uptilt-form .input-group input[type=text]:focus, .uptilt-form .input-group input[type=text]:active {
      outline: none; }
  .uptilt-form .input-group label {
    position: absolute;
    bottom: 0.25em;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    pointer-events: none;
    white-space: nowrap;
    color: #777;
    -webkit-transition: left ease 0.4s, bottom ease 0.4s, -webkit-transform ease 0.5s;
    transition: left ease 0.4s, bottom ease 0.4s, -webkit-transform ease 0.5s;
    transition: left ease 0.4s, bottom ease 0.4s, transform ease 0.5s;
    transition: left ease 0.4s, bottom ease 0.4s, transform ease 0.5s, -webkit-transform ease 0.5s; }
  .uptilt-form .input-group input:focus + label,
  .uptilt-form .input-group input.has-value + label {
    bottom: 1.8em;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%); }

.ut-search-submit {
  border-radius: 0px;
  color: #3498DB;
  background: transparent;
  border: 1px solid #3498DB;
  font-size: 0.75em;
  padding: 0.5em 1em; }
  .ut-search-submit:visited {
    color: #3498DB; }
  .ut-search-submit:hover {
    color: #fff;
    background-color: #41a5e7;
    border: 1px solid #41a5e7; }
  .ut-search-submit:active {
    color: #1b6698;
    background-color: #3498DB; }

.fa-arrow-circle-right {
  margin-left: 0.25em; }

.rss-container.show {
  display: block; }

.rss-container {
  display: none;
  width: calc(99.99% * 2/3 - (1em - 1em * 2/3));
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s; }

.rss-container:nth-child(1n){
  float: left;
  margin-right: 1em;
  clear: none; }

.rss-container:last-child{
  margin-right: 0; }

.rss-container:nth-child(3n){
  float: right; }

.rss-container:nth-child(3n){
  margin-right: 0; }

.rss-container:nth-child(3n + 1){
  clear: left; }

.rss-wrapper {
  text-align: center;
  margin-bottom: 1.5em; }

.rss-articles-wrap {
  text-align: left; }

.rss-header {
  padding: 0.5em;
  background: #f8f8f8;
  box-shadow: 1px 1px 5px rgba(221, 221, 221, 0.8);
  border-radius: 3px;
  margin-bottom: 1em; }
  .rss-header .subreddit-title {
    margin-top: 0; }
    .rss-header .subreddit-title a {
      color: inherit; }
  .rss-header p {
    margin-bottom: 0; }

.rss-article {
  padding: 0.5em;
  background: #f8f8f8;
  box-shadow: 1px 1px 5px rgba(221, 221, 221, 0.8);
  border-radius: 3px;
  margin-bottom: 0.5em;
  margin-top: 15em;
  opacity: 0;
  -webkit-transition: opacity ease 1.5s, margin-top ease 1s;
  transition: opacity ease 1.5s, margin-top ease 1s; }
  .rss-article .article-title .article-heading {
    margin-bottom: 0; }
  .rss-article .article-title:hover {
    cursor: pointer; }
  .rss-article .article-body {
    text-align: center;
    margin-top: 1.5em;
    display: none; }
    .rss-article .article-body table {
      margin: 0; }
      .rss-article .article-body table td {
        border-bottom: none;
        text-align: center; }
    .rss-article .article-body .md {
      text-align: left; }
  .rss-article .article-media {
    margin-bottom: 1.5em; }

@media (max-width: 800px) {
  .rss-container {
    width: calc(99.99% * 1/1 - (1em - 1em * 1/1)); }
  .rss-container:nth-child(1n){
    float: left;
    margin-right: 1em;
    clear: none; }
  .rss-container:last-child{
    margin-right: 0; }
  .rss-container:nth-child(1n){
    float: right; }
  .rss-container:nth-child(1n){
    margin-right: 0; }
  .rss-container:nth-child(1n + 1){
    clear: left; } }

.lodestone-wrapper.show {
  display: block; }

.lodestone-container {
  width: calc(99.99% * 1/3 - (1em - 1em * 1/3)); }

.lodestone-container:nth-child(1n){
  float: left;
  margin-right: 1em;
  clear: none; }

.lodestone-container:last-child{
  margin-right: 0; }

.lodestone-container:nth-child(3n){
  float: right; }

.lodestone-container:nth-child(3n){
  margin-right: 0; }

.lodestone-container:nth-child(3n + 1){
  clear: left; }

.lodestone-wrapper {
  background: #f8f8f8;
  padding: 0.5em;
  box-shadow: 1px 1px 5px rgba(221, 221, 221, 0.8);
  border-radius: 3px;
  margin-bottom: 1.5em;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  position: relative;
  left: 200%;
  opacity: 0;
  -webkit-transition: left ease 1s, opacity ease 1s;
  transition: left ease 1s, opacity ease 1s; }
  .lodestone-wrapper hr {
    margin-top: 1em; }

.character-gcinfo {
  text-align: center; }
  .character-gcinfo span {
    vertical-align: middle; }
    .character-gcinfo span img {
      height: 1.5em;
      vertical-align: bottom; }

.character-name {
  text-align: center; }

.character-joblv {
  text-align: center; }
  .character-joblv p {
    margin-bottom: 0.5em; }

.character-portrait {
  text-align: center; }
  .character-portrait img {
    width: 100%;
    border-radius: 3px;
    box-shadow: 1px 1px 5px gray; }

.character-class-wrap {
  *zoom: 1; }

.character-class-wrap:before{
  content: '';
  display: table; }

.character-class-wrap:after{
  content: '';
  display: table;
  clear: both; }
  .character-class-wrap h4 {
    margin-top: 0;
    cursor: pointer; }
  .character-class-wrap .character-classes {
    display: none; }
  .character-class-wrap .character-class {
    font-size: 0.75em;
    width: calc(99.99% * 1/2 - (1em - 1em * 1/2)); }
  .character-class-wrap .character-class:nth-child(1n){
  float: left;
  margin-right: 1em;
  clear: none; }
  .character-class-wrap .character-class:last-child{
  margin-right: 0; }
  .character-class-wrap .character-class:nth-child(2n){
  float: right; }
  .character-class-wrap .character-class:nth-child(2n){
  margin-right: 0; }
  .character-class-wrap .character-class:nth-child(2n + 1){
  clear: left; }
    .character-class-wrap .character-class span {
      text-align: right;
      display: inline-block;
      width: 1em;
      margin-right: 0.5em;
      padding-right: 0.5em;
      border-right: 1px solid black; }
    .character-class-wrap .character-class p {
      margin-bottom: 0.5em; }

.character-minion-wrap {
  *zoom: 1; }

.character-minion-wrap:before{
  content: '';
  display: table; }

.character-minion-wrap:after{
  content: '';
  display: table;
  clear: both; }
  .character-minion-wrap h4 {
    margin-top: 0;
    cursor: pointer; }
  .character-minion-wrap .character-minions {
    display: none; }
    .character-minion-wrap .character-minions img {
      margin: 0.25em;
      box-shadow: 1px 1px 5px gray;
      border-radius: 5px;
      cursor: pointer; }

.character-mount-wrap {
  *zoom: 1; }

.character-mount-wrap:before{
  content: '';
  display: table; }

.character-mount-wrap:after{
  content: '';
  display: table;
  clear: both; }
  .character-mount-wrap h4 {
    margin-top: 0;
    cursor: pointer; }
  .character-mount-wrap .character-mounts {
    display: none; }
    .character-mount-wrap .character-mounts img {
      margin: 0.25em;
      box-shadow: 1px 1px 5px gray;
      border-radius: 5px;
      cursor: pointer; }

@media (max-width: 800px) {
  .lodestone-container {
    width: calc(99.99% * 1/1 - (1em - 1em * 1/1)); }
  .lodestone-container:nth-child(1n){
    float: left;
    margin-right: 1em;
    clear: none; }
  .lodestone-container:last-child{
    margin-right: 0; }
  .lodestone-container:nth-child(0n){
    float: right; }
  .lodestone-container:nth-child(0n){
    margin-right: 0; }
  .lodestone-container:nth-child(0n + 1){
    clear: left; }
    .lodestone-container h4 {
      font-size: 1.777rem; }
  .character-class-wrap {
    font-size: 1.5em !important; }
  .character-minion-wrap {
    font-size: 1.5em !important; }
  .character-mount-wrap {
    font-size: 1.5em !important; } }

.middle-section {
  *zoom: 1; }

.middle-section:before{
  content: '';
  display: table; }

.middle-section:after{
  content: '';
  display: table;
  clear: both; }
